

html, body{
	width: 100%; height: 100%;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background-color: #fcfcfc;
}

body{
	text-align: center;
	background: #fcfcfc url(header.gif) repeat-x 0 0;
}

.clearfix:after{
	content: "/20";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
}

.clearfix{
	zoom: 1;
}

#header{
	width: 950px; height: 127px;
	margin: auto;
	text-align: left;
}

#logo{
	width: 177px; height: 90px;
	background: url(logo.gif) no-repeat center center;
}

#main{
	width: 950px;
	margin: auto;
	background-color: #fff;
	text-align: left;
	border: 1px solid #f6f6f6;
	border-top: 0;
	border-bottom: 0;
}

#test-tree{
	float: left;
	width: 230px;
	padding: 10px;
}

#test-main{
	float: left;
	width: 700px;
}

#test-main iframe{
	border: 0;
	width: 100%;
}

#buttons{
	padding-top: 5px;
}

#buttons .inline{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-right: 5px;
	*margin-right: 10px;
}

#buttons .button{
	width: 88px; line-height: 26px;
	border: 1px solid #ccc;
	background-color: #f9f9f9;
	text-align: center;
	font-size: 14px;
	color: #6a0;
}

#buttons .disabled{
	border: 1px solid #f1f1f1;
}

#buttons .button a{
	color: #6a0;
	text-decoration: none;
}

#buttons .disabled a{
	color: #808080;
}

#buttons .button a:hover{
	color: #a60;	
}

#buttons .disabled a:hover{
	color: #808080;
}


#buttons .option{
	font-size: 14px;
	color: #999;
	line-height: 26px;
}

#buttons .option input{
	vertical-align: middle;
	height: 14px;
}