/* CSSTidy 1.3: Wed Jan 23 15:31:32 2008 */body,p,dl,dd,blockquote,h1,h2,h3,h4,h5,h6,pre,table,td,th,ul,ol,li,hr,td,th,legend,fieldset,input,textarea,img,form{margin:0;padding:0;}
img,iframe{border:none;}
img,input{vertical-align:middle;}
ul{list-style:none;list-style-position:outside;}
table{border-collapse:separate;border-spacing:0;font-size:1em;}
blockquote,q{quotes:none;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
body{font:75%/1.5 Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;}
legend{color:#000;font-size:1em;}
div.content p{margin:0 0 1.5em;}
h1,h2,h3,h4,h5{color:#111;font-family:"Palatino Linotype", Palatino, Georgia, serif;font-weight:700;}
h1{font-size:3em;line-height:1;margin-bottom:.5em;}
h2{font-size:2em;margin-bottom:.75em;}
h3{font-size:1.5em;line-height:1;margin-bottom:1em;}
h4{font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5{font-size:1em;margin-bottom:1.5em;}
h6{font-size:1em;}
big{font-size:1.3em;}
small{font-size:.85em;}
code,pre,samp{font-family:Consolas, Monaco, "Courier New", Courier, monospace;overflow:auto;white-space:pre;word-wrap:break-word;}
acronym,abbr{border-bottom:1px dotted #000;cursor:help;}
acronym{letter-spacing:.1em;text-transform:uppercase;}
span.amp{font-family:Baskerville,"Goudy Old Style",Palatino,"Book Antiqua",serif;font-size:1.1em;font-style:italic;}
html{background:#fff;color:#000;}
:link:focus,:visited:focus{color:#C63;}
:link{color:#356aa0;}
:visited{color:#6B97A9;}
:link:hover,:visited:hover{color:#AD7328;}
:link:active,:visited:active{color:#356a00;}
del{background:#fdcccc;border:1px solid #c99;text-decoration:line-through;}
ins{background:#CFC;border:1px solid #9c9;}
hr{border:0;border-top:3px solid #f2f2f2;clear:both;height:1px;margin:.7em 0;}